@model Colander.Controllers.WordViewModel

@{
    ViewBag.Title = "Index";
    //var currentID = Model.FirstOrDefault().WordListID;
}

<div style="margin-left:220px">
    <h2 style="display:inline">Words in this list:</h2>
    <p style="float:right; margin-right:3px">
        @Html.ActionLink("Add new word", "Create", 
       new { id = Model.WordListId }, new { @class = "btn btn-primary" })    @*currentID*@
    </p>
    <p style="float:right;margin-right:3px">
        @Html.ActionLink("Start Learning", "Learn", "Learn", 
       new { id = Model.WordListId }, new { @class = "btn btn-primary" })
    </p>
    <table class="table" style="width:1000px">
        <tr style="background-color:darkgray; color:black;">
            @*<th>
                    @Html.DisplayNameFor(model => model.WordList.WordListID)
                </th>*@
            <th style="width:300px">
                Orginal name
            </th>
            <th style="width:300px">
                Translation
            </th>
            <th style="width:100px">
                Colander ID
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Words)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.WordList.WordListID)
                    </td>*@
                <td style="width:310px">
                    @Html.DisplayFor(modelItem => item.WordOriginal)
                </td>
                <td style="width:310px">
                    @Html.DisplayFor(modelItem => item.WordTranslation)
                </td>
                <td style="width:100px">
                    @Html.DisplayFor(modelItem => item.WordColanderID)
                </td>
                <td style="width:380px">
                    @Html.ActionLink("Edit word", "Edit", new { id = item.WordID }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("Learn this word", "LearnWord", "Learn", new { id = item.WordID }, new { @class = "btn btn-primary" })*@
                    @Html.ActionLink("Details", "Details", new { id = item.WordID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete word", "Delete", new { id = item.WordID }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Back to Lists", "Index", "WordLists")
</div>
