<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colander</title>
   @Styles.Render("~/Content/css")
   @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background:linear-gradient(white,whitesmoke,lightpink); 
             background-repeat:no-repeat; 
             height: 100%;
             margin: 0;
             background-attachment:fixed;">
    <div class="PageTitle">
        <h1 style="font-size: 4em;
                    font-family:'Century Gothic';
                    margin-top:0;
                    margin-left:6em;
                    background-color: 
                    /*background-color:*/
                    ">
            COLANDER FLASH CARDS
        </h1>
    </div>
    <div class="PageDescription">
        <h3 style="font-size: 1.5em; 
                    margin-left:25em;
                    font-family:'Times New Roman'; 
                    margin-top:0;">
            Create and learn your own flashcards!
        </h3>
    </div>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <footer style="margin-left:550px">
            <p>&copy; @DateTime.Now.Year Colander by A&P&trade;</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
