@model Colander.WordServices.Word
@{
    ViewBag.Title = "Learn";
}

<h2 style="font-family:'Copperplate Gothic'; margin-left:540px; margin-top:0px">learning mode</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="margin-left:490px;">Word:</div>
    
    <div class="div flashcard">
        <h4 style="margin-top:40px; 
            font-family:Arial; 
            font-size:30px; 
            font-weight:bold;">@Html.DisplayFor(model => model.WordOriginal)</h4>
    </div>

    <div style="margin-left:595px">
        <input type="button" value="Show answer" onclick="showhide()" class="btn btn-default" /><br />
    </div>
   
     <div id="checking" style="display:none" />
        
        <script type="text/javascript">
            function showhide() {
                var div = document.getElementById("checking");
                div.style.display = "block";
            }
        </script>

    <div id="checking" style="margin-left:490px;">Correct answer: </div>
    <div id="checking" class="div flashcard">
        <p style="font-family:Arial; 
                  font-weight:bold; 
                  font-size:30px; 
                  color:green;
                  margin-top:33px">@Html.DisplayFor(model => model.WordTranslation)</p>
    </div>
   
    <div>
        <a class="btn btn-default" href="@Url.Action("Right", new { id = Model.WordID})" style="float:left; color:green;margin-left:520px" >I got it right!</a>
        <a class="btn btn-default" href="@Url.Action("Wrong", new { id = Model.WordID})" style="float:left; color:red;margin-left:60px" >I was wrong!</a>
    </div>
    <div id="NotCheck">
        <br />
        <br />
        @*@Html.ActionLink("Back to List", "Index", "Words", new { id = Model.WordListID }, null)*@
        @Html.ActionLink("Back to List", "EndSession", new { id = Model.WordListID })
    </div>
} 